*
!wallpaper.jpg
!.config/fish/**
!.config/hypr/**
!.config/fastfetch/**
!.config/kitty/**
!.config/nvim/**
!.config/tmux/**
!.config/obsidian/**
!.config/waybar/**
!.config/fastfetch/**
!.config/rofi/**
!.local/share/fonts/**
!.local/share/icons/**
!.local/share/themes/**
!.config/picom.conf
