services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3456:8080"
    volumes:
      - open-webui_storage:/app/backend/data
    depends_on:
      - ollama
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  ollama_storage:
  open-webui_storage:
